@model IEnumerable<NMUG.Controllers.HomeController>

@{
    ViewData["Title"] = "EducationView";
}

<h2><b>Education. ...about our educational programs</b></h2>

<p>The New Mexico .NET Users Group is uniquely positioned to provide a knowledge exchange network among professional and serious amateur software developers, the educational and business community, Microsoft Corporation - the developers of the .NET computer middleware, and the Independent .NET Associations (INETA).
   <br /> 
    The dynamics of our user group lies in the talent and practical experience of its members in realizing value from the application of .NET technologies. That knowledge may then be propagated through the membership of the user group and out to the greater technical community of Central New Mexico by delivering presentations and programs developed by local, regional and national experts.
    </p>

