@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 jumbotron">
        <div class="page-header">
            <h1>New Mexico .NET Users Group</h1>
        </div>
        <div class="text-muted">
            <p>
                The New Mexico .NET Users Group (NMUG) exists to help facilitate education and knowledge exchange among developers,
                 architects and managers with an interest in Microsoft's .NET technologies. NMUG meets on the first Friday of each month and are open to the public.
                 Food and drink are provided.
            </p>
        </div>
        <div>
             NEXT MEETING : @*Display current meeting data*@
        </div>
    </div>
    <div class="col-sm-2"></div>
</div>
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <div>
            <h4>About</h4>
            <div class="text-muted">
                <p>
                    We provide a great place for local developers to come together to learn all about .NET technologies,
                    to network with their peers and to foster a sense of community among developers learning and using the same technologies.
                </p>
                <p>
                    The .NET Users Group is open to any all individuals who are interested in all facets of .NET development and the technologies that are assiociated with it.
                    If you are interested in becoming a business sponsor of our group or becoming an individual member please see our Membership page for more information.
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-2"></div>
</div>
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <h4>Become a Member</h4>
        <div class="text-muted">
            The .NET Users Group is open to any all individuals who are interested in all facets of .NET development and the technologies that are assiociated with it.
             If you are interested in becoming a business sponsor of our group or becoming an individual member please see our Membership page for more information.
        </div>
    </div>
    <div class="col-sm-2"></div>
</div>
<div class="page-header"></div>
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 well">
 Google Maps API View here. 
    </div>
    <div class="col-sm-2"></div>
</div>


<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <div class="page-header">
            <h4>The agenda for our meetings is as follows:</h4>
        </div>
    </div>
    @* Current Meetings viewmodel display here. *@
    <div class="col-sm-2"></div>
</div>
